./deps/libevent
./deps/googletest
./deps/jsoncpp
build/*
cmake-build-*/*
.vscode/*
.DS_Store
.idea
.ccls-cache
.cache
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
GRTAGS
GPATH
GTAGS
/db
/deps
/src/observer/.vscode/*
result_tmp/
miniob_data_test/
#*#
